# PyInstaller build/
build/
build-*/
dist/
release/x86/
release/x64/
*.egg-info/
__pycache__/
*.pyc
.Python
env/
.venv/
.tools/
.firebase/
hosting/SIGA-update.zip
hosting/SIGA-update-*.zip
*.log
.DS_Store
Thumbs.db
